* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fdeeee;
    color: #111;
}

header {
  padding: 20px 40px;
}

.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 600;
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 22px;
    padding: 12px 28px;
    border: 2px solid #1e90ff;
    border-radius: 40px;
    background: transparent;
}

.nav-links a{
    text-decoration: none;
    color: #111;
    font-size: 14;
    transition: 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
    text-decoration: none;
    color: #1e90ff;
    font-weight: 500;
}

.hero {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hi {
    font-size: 18px;
    margin-bottom: 8px;
}

.hero h1 {
    font-size: 40px;
    font-weight: 600;
}

.hero h1 span {
    color: #1e90ff;
    font-style: italic;
}

.social-icons {
    border: 2px solid #1e90ff;
    border-radius: 40px;
}

.social-icons a {
    width: 52px;
    height: 52px;
    border: 2px solid #1e90ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1e90ff;
    font-size: 22px;
    transition: 0.3s;
}

.social-icons a:hover {
    transform: scale(1.2);
    background: #1e90ff;
    color: #fff;
}

.buttons {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.btn {
    padding: 12px 30px;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 500;
    border: 2px solid #1e90ff;
    color: #111;
    transition: 0.3s ease;
    background: #1e90ff;
}

.btn:hover {
  background-color: #1e90ff;
  color: #fff;
}

.btn-outline {
    background: transparent;
    color: #000;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero h1 {
    font-size: 30px;
  }

  .buttons {
    flex-direction: column;
    gap: 15px;
  }
}